@use "sass:color";
@use '../sass/colors' as *;

.masterminds-divisions-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    overflow: hidden;
    position: relative;
}