@use "sass:color";
@use '../sass/colors' as *;
@use '../sass/constants' as *;

.masterminds-division-item-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    position: relative;
    width: 100%;

    img.mm-brain {
        height: 4rem;
        width: 15rem;
        z-index: 7;
    }

    .masterminds-division-item-blurb {
        font-size: 1.2rem;
        font-weight: 300;
        opacity: 0;
        padding: 1rem 0 1rem 0;
        transition: opacity $mm-timing-medium ease-in-out;
        visibility: hidden;
        z-index: 7;
    }
}