@use "sass:color";
@use '../sass/colors' as *;
@use '../sass/constants' as *;

.masterminds-division-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 50rem;
    width: 100%;
    transition: width $mm-timing-medium ease-in-out;

    .base-mountain-zero {
        background-size: cover;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: 1;

        img {
            opacity: 1;
            transform: translateX(-20rem) translateY(4rem) scale(0.8) scaleX(0.8);
            transition: transform $mm-timing-medium ease-in-out, opacity $mm-timing-medium ease-in-out;
        }
    }

    .base-mountain-one {
        background-size: cover;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: 2;

        img {
            opacity: 1;
            transform: translateY(11.6rem);
            transition: transform $mm-timing-medium ease-in-out, opacity $mm-timing-medium ease-in-out;
        }
    }

    .trees {
        background-size: cover;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: 3;

        img {
            opacity: 0;
            transform: translateX(0.5rem) translateY(6.5rem);
            transition: transform $mm-timing-medium ease-in-out, opacity $mm-timing-medium ease-in-out;
        }
    }

    .foreground {
        background-size: cover;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: 4;

        img {
            transform: translateX(-21.6rem) translateY(3.5rem);
            transition: transform $mm-timing-medium ease-in-out, opacity $mm-timing-medium ease-in-out;
        }
    }

    .rock-one {
        background-size: cover;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: 5;

        img {
            opacity: 0;
            transform: translateX(-21rem) translateY(6.6rem);
            transition: transform $mm-timing-medium ease-in-out, opacity $mm-timing-medium ease-in-out;
        }
    }

    .explorer {
        background-size: cover;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: 6;

        img {
            opacity: 0;
            transform: translateX(3.5rem) translateY(-4.6rem);
            transition: transform $mm-timing-medium ease-in-out, opacity $mm-timing-medium ease-in-out;
        }
    }

    &:hover {
        width: 62.5rem;

        /* When DevOps is Expanded */
        &.devops {
            .base-mountain-zero {
                img {
                    opacity: 0.5;
                    transform: translateX(-17rem) translateY(1rem) scale(0.5);
                }
            }

            .base-mountain-one {
                img {
                    opacity: 1;
                    transform: translateX(-10rem) translateY(3rem) scale(1.2);
                }
            }

            .trees {
                z-index: 4;

                img {
                    opacity: 1;
                    transform: translateX(10rem) translateY(3.5rem);
                }
            }

            .foreground {
                z-index: 3;
                
                img {
                    transform: translateX(-10rem) translateY(3.6rem);
                }
            }

            .rock-one {
                img {
                    opacity: 1;
                }
            }

            .explorer {
                img {
                    opacity: 1;
                }
            }

            .masterminds-division-item-content {
                .masterminds-division-item-blurb {
                    opacity: 1;
                    transform: translateY(0);
                    visibility: visible;
                }

                img.mm-brain {
                    transform: scale(1.5) translateY(-2rem);
                }

                .mm-button {
                    transform: translateY(1rem);
                }
            }
        }

        /* When Data is Expanded */
        &.data {
            .base-mountain-zero {
                img {
                    transform: translateX(-26rem) translateY(8.5rem);
                    opacity: 0.5;
                }
            }

            .base-mountain-one {
                img {
                    transform: translateX(-5rem) translateY(3rem);
                    opacity: 1;
                }
            }

            .trees {
                img {
                    opacity: 1;
                    transform: translateX(35.5rem) translateY(3.5rem);
                }
            }

            .foreground {
                img {
                    transform: translateX(-5rem) translateY(4rem);
                }
            }

            .rock-one {
                img {
                    opacity: 1;
                }
            }

            .explorer {
                img {
                    opacity: 1;
                }
            }

            .masterminds-division-item-content {
                .masterminds-division-item-blurb {
                    opacity: 1;
                    transform: translateY(0);
                    visibility: visible;
                }

                img.mm-brain {
                    transform: scale(1.5) translateY(-2rem);
                }

                .mm-button {
                    transform: translateY(1rem);
                }
            }
        }

        /* When Analytics is Expanded */
        &.analytics {
            .base-mountain-zero {
                img {
                    opacity: 0.5;
                    transform: translateX(-19.5rem) translateY(4.5rem) scale(0.66);
                }
            }

            .base-mountain-one {
                img {
                    transform: translateX(-5rem) translateY(3rem);
                    opacity: 1;
                }
            }

            .trees {
                img {
                    transform: translateX(-1.2rem) translateY(1.5rem);
                }
            }

            .foreground {
                img {
                    transform: translateX(-2.5rem) translateY(3rem) scale(0.8);
                }
            }

            .rock-one {
                img {
                    opacity: 1;
                }
            }

            .explorer {
                img {
                    opacity: 1;
                }
            }

            .masterminds-division-item-content {
                .masterminds-division-item-blurb {
                    opacity: 1;
                    transform: translateY(0);
                    visibility: visible;
                }

                img.mm-brain {
                    transform: scale(1.5) translateY(-2rem);
                }

                .mm-button {
                    transform: translateY(1rem);
                }
            }
        }
    }

    /* When DevOps is Expanded */
    &.data {
        &.contracted {
            &.devops-expanded {
                width: 540px;

                .base-mountain-zero {
                    img {
                        transform: translateX(-20rem) translateY(3.0rem) scale(0.65);
                        opacity: 1;
                    }
                }

                .foreground {
                    img {
                        transform: translateX(-29.5rem) translateY(3.8rem);
                    }
                }

                .trees {
                    img {
                        opacity: 1;
                        transform: translateX(18.3rem) translateY(3.5rem);
                    }
                }

                .masterminds-division-item-content {
                    .masterminds-division-item-blurb {
                        opacity: 0;
                        transform: translateY(20px);
                        visibility: hidden;
                    }

                    img.mm-brain {
                        transform: translateY(0);
                    }

                    .mm-button {
                        opacity: 0;
                        transform: translateY(0);
                    }
                }
            }
        }
    }

    &.analytics {
        &.contracted {
            &.devops-expanded {
                width: 540px;

                .base-mountain-zero {
                    img {
                        opacity: 1;
                        transform: translateX(-20rem) translateY(4.8rem) scale(0.65);
                    }
                }

                .foreground {
                    img {
                        transform: translateX(-27.5rem) translateY(3.8rem);
                    }
                }

                .trees {
                    img {
                        opacity: 1;
                        transform: translateX(-8rem) translateY(3.5rem);
                    }
                }

                .masterminds-division-item-content {
                    .masterminds-division-item-blurb {
                        opacity: 0;
                        transform: translateY(20px);
                        visibility: hidden;
                    }

                    img.mm-brain {
                        transform: translateY(0);
                    }

                    .mm-button {
                        opacity: 0;
                        transform: translateY(0);
                    }
                }
            }
        }
    }

    /* When Data is Expanded */
    &.devops {
        &.contracted {
            &.data-expanded {
                width: 540px;

                .base-mountain-zero {
                    img {
                        transform: translateX(-15rem) translateY(5rem) scale(0.5);
                    }
                }

                .foreground {
                    img {
                        transform: translateX(-25.5rem) translateY(0.3rem);
                    }
                }

                .masterminds-division-item-content {
                    .masterminds-division-item-blurb {
                        opacity: 0;
                        transform: translateY(20px);
                        visibility: hidden;
                    }

                    img.mm-brain {
                        transform: translateY(0);
                    }

                    .mm-button {
                        opacity: 0;
                        transform: translateY(0);
                    }
                }
            }
        }
    }

    &.analytics {
        &.contracted {
            &.data-expanded {
                width: 540px;

                .base-mountain-zero {
                    img {
                        transform: translateX(-20rem) translateY(2.75rem) scale(0.66);
                    }
                }

                .foreground {
                    img {
                        transform: translateX(-30.0rem) translateY(4.5rem);
                    }
                }

                .trees {
                    img {
                        opacity: 1;
                        transform: translateX(-8rem) translateY(2.5rem);
                    }

                }

                .masterminds-division-item-content {
                    .masterminds-division-item-blurb {
                        opacity: 0;
                        transform: translateY(20px);
                        visibility: hidden;
                    }

                    img.mm-brain {
                        transform: translateY(0);
                    }

                    .mm-button {
                        opacity: 0;
                        transform: translateY(0);
                    }
                }
            }
        }
    }

    /* When Analytics is Expanded */
    &.devops {
        &.contracted {
            &.analytics-expanded {
                width: 540px;

                .base-mountain-zero {
                    img {
                        transform: translateX(-27rem) translateY(10rem);
                        opacity: 1;
                    }
                }

                .foreground {
                    img {
                        transform: translateX(-25.5rem) translateY(2.4rem);
                    }
                }

                .trees {
                    img {
                        opacity: 1;
                        transform: translateX(10rem) translateY(3.5rem);
                    }
                }

                .masterminds-division-item-content {
                    .masterminds-division-item-blurb {
                        opacity: 0;
                        transform: translateY(20px);
                        visibility: hidden;
                    }

                    img.mm-brain {
                        transform: translateY(0);
                    }

                    .mm-button {
                        opacity: 0;
                        transform: translateY(0);
                    }
                }
            }
        }
    }

    &.data {
        &.contracted {
            &.analytics-expanded {
                width: 540px;

                .base-mountain-zero {
                    img {
                        opacity: 1;
                        transform: translateX(-24.5rem) translateY(10rem);
                    }
                }

                .foreground {
                    img {
                        transform: translateX(-25.5rem) translateY(0.4rem);
                    }
                }

                .masterminds-division-item-content {
                    .masterminds-division-item-blurb {
                        opacity: 0;
                        transform: translateY(20px);
                        visibility: hidden;
                    }

                    img.mm-brain {
                        transform: translateY(0);
                    }

                    .mm-button {
                        opacity: 0;
                        transform: translateY(0);
                    }
                }
            }
        }
    }

    @media (max-width: 1619px) {
        height: 17.5rem;
        width: 30rem;

        &.hover {
            width: 30rem;
        }
    }
}