@use "sass:color";
@use './sass/colors' as *;
@use './sass/constants' as *;

@use './masterminds.scss';
@use './divisions/mm-division-container.scss';
@use './divisions/mm-division-item.scss';
@use './divisions/mm-division-item-content.scss';

@use './buttons/mm-button.scss';

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

html,
body,
#app {
    // min-height: 100vh;
    background: $mm-white;
    display: flex;
    font-family: 'PT Sans Narrow', sans-serif;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    // @media (max-width: 1619px), (max-height: 75rem) {
    //     overflow: auto;
    // }
}